

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
 min-height: 100vh;
 align-items: center;
 justify-content: center;
 display: flex;
}

.cards{
 height: 450px;
 width: 800px;
 display: flex;
 border-radius: 10px;
 overflow: hidden;
 
}

.card-one{
 background-color: hsl(31, 77%, 52%);
 padding: 40px;
}

.card-one img{
 margin-bottom: 30px;
}

.card-one h2{
 margin-bottom: 20px;
}

.card-one p{
 margin-bottom: 60px;
}

.card-two{
 background-color: hsl(184, 100%, 22%);
 padding: 40px;
}

.card-two img {
 margin-bottom: 30px;
}

.card-two h2{
 margin-bottom: 20px;

}

.card-two p {
 margin-bottom: 80px;
}

.card-three{
 background-color: hsl(179, 100%, 13%);
 padding: 40px;
}

.card-three img {
 margin-bottom: 30px;
}

.card-three h2 {
 margin-bottom: 20px;
}

.card-three p {
 margin-bottom: 60px;
}

.cards h2{
 color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;

}

.cards p{
 color: hsla(0, 0%, 100%, 0.75);
 font-family: 'Lexend Deca', sans-serif;
 font-size: 15px;
 flex-grow: 1;
}

.cards button{
 background-color: hsl(0, 0%, 95%);
 padding: 15px 30px;
 border: none;
 border-radius: 20px;
 cursor: pointer;
 transition: background-color 0.4s ease;
}

.cards button:hover{
 background-color: transparent;
 border: 2px solid hsl(0, 0%, 95%);
 color: hsl(0, 0%, 95%);
}

.card-one button{
 color: hsl(31, 77%, 52%);
}

.card-two button {
 color: hsl(184, 100%, 22%);
}

.card-three button {
 color: hsl(179, 100%, 13%);
}

@media screen and (max-width: 550px){

 body{
  padding: 70px 30px;
 }

 .cards{
  flex-direction: column;
 }

}